* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 16px;
}

td,.text-medium {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 14px;
}

tr:nth-child(2n){
  background-color: #f8f8f8;
}

th {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 14px;
  font-weight: 700;
  }

p {
  margin: 0;
}

.flex {
  display: flex;
}

.search-wrap h1 {
  margin-top: 120px;
  margin-left: 20%;
}

.search-bkg {
  width: 60%;
  margin:0 auto;
  padding-top: 16px;
  background: #FFFFFF;
  border: 1px solid #292929;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.searchbox-wrap.flex{
  justify-content: space-around;
}

.form-wrap.flex {
  justify-content: space-around;
}

.form-item {
  margin-top: 16px;
}

.form-item.flex {
  justify-content: space-between;
}

.search-radio-btn label {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

.btn.flex {
  justify-content: flex-end;
}

.search.btn {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 24px;
}

input.search-btn,input.reset-btn {
  background-color: #4AEF82;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

input.search-btn:hover,input.reset-btn:hover {
  background: #4AEF82;
  transform: translateY(-2px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

input.reset-btn,input.reset-btn:hover {
  background-color:#818080
}

.member-wrap h1 {
  margin-top: 40px;
  margin-left: 20%;
}

.member-view.flex {
  justify-content: space-around;
}

.heading {
  background-image: linear-gradient( rgba(0, 0, 0, 0) 90%, #7B7979 90%, #7B7979 95%, rgba(0, 0, 0, 0) 95% );
  padding-bottom: 16px;
  margin-top: 24px;
}

.heading.flex {
  justify-content: last baseline;
}

.heading th:nth-child(2) {
  margin-left: 3rem;
}

.heading th:nth-child(3) {
  margin-left: 4rem;
}

.heading th:nth-child(4) {
  margin-left: 4.2rem;
}

.heading th:nth-child(5) {
  margin-left: 5rem;
}

.heading th:nth-child(6) {
  margin-left: 5rem;
}

.heading th:nth-child(7) {
  margin-left: 2rem;
}

.heading th:nth-child(8) {
  margin-left: 2rem;
}

.heading th:nth-child(9) {
  margin-left: 4rem;
}

tr.line td:not(:first-child) {
  padding-left: 32px;
  padding-bottom: 8px;
}

tr.heading th {
  padding-bottom: 20px;
}

tr:first-child,td:first-child {
  padding-left: 20px;
}

.line td {
  padding-right: 20px; 
}

.line img {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

.line td:nth-child(8) {
  padding-left: 4rem !important;
}

.btn-date,.history-btn {
  background: #FFFFFF;
  border: 1px solid #7B7979;
  border-radius: 20px;
  width: 80px;
  height: 32px;
  padding-top: 4px;
}

.btn-date a,.history-btn a {
  padding-left: 10px;
  padding-top: 16px;
  text-decoration: none;
  color: #292929;
}

.btn-date:hover,.history-btn:hover {
  background: #818080;
  border-radius: 20px;
}

.btn-date a:hover,.btn-history a:hover{
  color: #FFFFFF;
}

.btn-history {
  margin-left: 8px;
}

.button {
  border: 1px solid #999;
  background: transparent;
  padding: .5rem 1rem;
  font-weight: bold;
  color: #999;
}

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}
